body{
	margin: 0 20px 0px;
	font-family:sans-serif;
}

#workname{
	background-color:#000000;
	text-align:center;
	color: #ffffff;
	font-size: 18px;
}

.pagemap ul{
  display: flex;
  flex-direction: row;
}

.pagemap ul > li {
font-size:12px;
  flex: auto;
}

.hero {
height:320px;
display: flex;
justify-content: center;
align-items: center;
}

.hero h1{
font-size: 40px;
font-weight: bold;
text-align:center;
}

.sec_ttl{
	font-size: 24px;
	font-weight: bold;
	text-align:center;
	margin-top: 60px;
	margin-bottom: 60px;
}

.sec_ttl span{
	font-size: 16px;
	color:#FF695E;
}

.sec h3{
	font-size: 24px;
	text-align:center;
	margin-bottom: 40px;
}

.sec p{
	margin-bottom: 40px;
	line-height: 1.5;
}

.sec button{
	width:50%;
	float:left;
	max-width:200px;
	height:60px;
	font-size:14px;
	box-sizing:border-box;
	background-color:#ffffff;
	border:solid 1px #FF695E;
	border-radius: 8px;
	display: inline-block;
}

.case_container{
	background-color: rgba(0,0,0,0.6); 
}

.case_container h3{
	font-size: 18px;
}

.case_container dl dt{
	font-size: 14px;
	font-weight: bold;
}

.case_container dl dd{
	font-size: 12px;
}

#sec--profile{
	background-color: #000000;
}

#sec--profile dl,
#sec--profile h2,
#sec--profile h3{
	color:#ffffff;
}

